In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import linear_model
from sklearn.metrics import r2_score

In [2]:
data = pd.read_csv("Local_Crime1.csv")
data.head()

,Murder and nonnegligent Manslaughter,Legacy rape /1,Robbery,Aggravated assault,Property crime total,Burglary,Larceny-theft,Motor vehicle theft,New Y
0,2,4,14,99,249,131,65,53,0.0
1,0,2,10,24,260,96,150,14,0.0
2,1,45,166,440,3199,623,1860,716,0.0
3,1,9,110,182,2533,362,1842,329,0.0
4,0,3,38,47,577,110,381,86,0.0

In [3]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [4]:
list(data)[:-1]

['Murder and nonnegligent Manslaughter',
 'Legacy rape /1',
 'Robbery',
 'Aggravated assault',
 'Property crime total',
 'Burglary',
 'Larceny-theft',
 'Motor vehicle theft']

In [5]:
y = data["New Y"]
X = data[list(data)[:-1]]
#taking all the x and finding the smallest error bet x and ys
model.fit(X, y)
print(model)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [6]:
print('Weight coefficients: ', model.coef_)
print('y-axis intercept: ', model.intercept_)

Weight coefficients:  [-0.05833708 -0.00012932 -0.00118146  0.00061467  0.00012915  0.00046388
 -0.00016518 -0.00016955]
y-axis intercept:  -0.038159485537533094

In [7]:
predictions = model.predict(X)
index = 0
print(f"True output: {y[index]}")
print(f"Predicted output: {predictions[index]}")
print(f"Prediction Error: {predictions[index]-y[index]}")

True output: 0.0
Predicted output: -0.037835279363209795
Prediction Error: -0.037835279363209795

In [8]:
r2_score(y, predictions)

0.029195053115015357